body {
    background-color: #645CAA;
}
.button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button {
  background-color: #363B4E;
  border: none;
  color: #927FBF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
img {
  display: block;
  margin: 0 auto;
}
#image-container {
  position: relative;
  height: 100vh; 
}
#image-container img {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
}
h1 {
  cursor: help;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 5px;
}
